var promise1 = fetchFromInterWebs();
var promise2 = fetchFromCache();

Promise.race([promise1,promise2])
    .then(function(firstOne){
        //Do Stuff with whatever comes back first!
    })
    .catch(function(error) {
        console.log("AAAAAAGGGHHHHHH!!!!!"); 
    });