function Point(x, y) {
  this.x = x;
  this.y = y
}

let p1 = new Point(5,6);

Point.prototype.logPoint = function() {
  console.log('x is', this.x, 'and y is', this.y); 
}

let p2 = new Point(10,11);

p1.logPoint() // x is 5 and y is 6
p2.logPoint() // x is 10 and y is 11