let arr = [1,2,3,4,5,6];

const reducerCallback = function(accumulator, current) { //SUM!
  return accumulator + current;
}

let ret = arr.reduce(reducerCallback); //Array.prototype.reduce()

console.log(ret); //21
