var promise1 = fetchFromInterWebs(); //Returns a promise!

var successFunction = function(data) {
    doDataStuff(data);
}

var failFunction = function(data) {
    console.log("EVERYONE PANIC!");
}

promise1.then(successFunction, failFunction);
